.logo {
  width: 60px;
}

.home-1 {
  background-image: url("../../assets/vue_interieur.jpg");
  height: 100vh;
  background-size: cover;
}

.title-home {
  padding-top: 10rem;
  padding-bottom: 11rem;
}
