<div class="home-1">
  <div class="container">
    <div class="title-home">
      <div class="boxed boxed-inner">
        <div class="vertical-title hidden-xs hidden-sm">
          <span>INTRODUCE</span>
        </div>
        <h1>ŌMA</h1>
        <h1>VERTICAL CINEMA</h1>
        <div class="color-bar"></div>
      </div>
    </div>
  </div>
</div>
